 /* .header{
    background: red;
    height: 71px;
 } */

 .d-none{
     display: none;
 }

/* 집중화 */
.img-button{
    display: inline-block;
    border : none;

    /* 영역을 넘기면 안보이게 하기 */
    overflow: hidden;

    text-indent: -999px;
}

 .container{
    /* background : #00000050; */
    height : 100%;

    /* hieght 와 min-height는 다름 min-hegiht는 %를 사용하지 못함. */
    --min-height: 100%;
    min-height: inherit;
    width : 960px;
    margin-left: auto;
    margin-right: auto;
    

    /* 
    레이아웃 안의 레이아웃에서는 top,bottom은 적용 안됨.
    margin-top: auto;
    margin-bottom: auto;
     */

 }

 /*  추상화 */

.aside-menu{
    font-family: "맑은 고딕", "고딕";
    font-weight: bold;
    font-size:11px;
    color : #808080;
    margin-top: 20px;
}

.aside-menu li{
    background : url("../image/bg-aside-menu-hsp.png") no-repeat center bottom;
    height : 26px;

    /*  text를 가운데 정렬하기  */
    line-height: 26px;
}

.aside-menu li a{
    padding-left: 26px;
    text-decoration: none;
}

/* 
    2가지 이상 선택자에 같은 css주기. - > ,로 구분
*/
.aside-menu li a.current,
.aside-menu li a:hover{
    background: url("../image/icon-current.png") no-repeat 9px center;
}

/* 
.aside .customer-menu li a:hover{
    background: url("../image/icon-current.png") no-repeat 9px center;
} 
*/

.aside .user-bbs-menu h1,
.aside-menu h1{
    font-family: "맑은 고딕", "고딕", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    padding-left: 26px;
    background: url(../image/icon-recommend.png) no-repeat left center;
}
    
 .visual{
    /* background: blue; */
    background : #313131 url("../image/bg-visual.png") no-repeat;
    height: 171px;
    border-top : 3px solid #8cba34;
 }
 
 /* --------------------------------------------------------------------------------------- */

 .body{
    /* background: #ff0; */
    /* 
    min-height - > 최소 높이 + 컨텐트 크기에 따라 변함.
    */
    min-height: 300px;
    border-top : 5px solid #8cba34;
    margin-top : 1px;
   
 }

    .body>.container{
        display : flex;
        background:url("../image/bg-body.png") repeat-y center;
    }

    .aside{
        width : 205px;
        padding-top : 45px;
        background : url("../image/bg-aside-title.png") no-repeat right top;
        /* background : gray; */

    }

                 /*  추상화 */

        /* .aside .customer-menu{
            font-family: "맑은 고딕", "고딕";
            font-weight: bold;
            font-size:11px;
            color : #808080;
        } */

    /* 
        .aside .customer-menu li{
            background : url("../image/bg-aside-menu-hsp.png") no-repeat center bottom;
            height : 26px; */

             /*  text를 가운데 정렬하기  */
            /* line-height: 26px;
        } */
    /* 
        .aside .customer-menu li a{
            padding-left: 26px;
            text-decoration: none;
        } */

    /* 
        2가지 이상 선택자에 같은 css주기. - > ,로 구분
    */
        /* .aside .customer-menu li a.current,
        .aside .customer-menu li a:hover{
            background: url("../image/icon-current.png") no-repeat 9px center;
        } */

    /* 
    .aside .customer-menu li a:hover{
        background: url("../image/icon-current.png") no-repeat 9px center;
    } 
    */
     
    .aside>h1{
       
            font-family: "맑은 고딕","고딕",Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 24px;
        
    }


    /* 
        .aside-menu의 첫번째가 아니라 .aside의 모든 자식들 중에 첫번째임.
        --> .aisde-menu와 first는 관련이 없음.
        .aside .aside-menu:first-child{
        margin-top: 45px;
    }
    */
    .aside .aside-menu:nth-child(2){
        margin-top: 45px;
    }
    

    .aside>div{
        width:200px;
        height:100px;
        
        /* 
            background-image: url("../image/logo.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-color: pink; 
        */
        background : url("../image/logo.png") no-repeat;
        /* 
            background-size 
            cover - > 비율에 맞게 크기 조정 - > 배경 영역을 넘어감. - > 이미지가 짤림
            contain - > 비율에 맞게 크기 조정 - > 배경 영역을 안넘어감. - > 이미지가 안짤림
        */
        --background-size : contain;

        /* 
            background-attachment
            fixed  - > 스크롤에 따라 화면에 고정
            local - > 스크롤에 따라 문서에 고정
            scroll - > 디폴트 
        */
        background-attachment: fixed;

        overflow:auto;
    }

    .main{

        width : 755px;
        box-sizing: border-box;
        padding : 45px 0px 50px 35px;
        /* background : orange; */

    }

    .main .notice-board>table{

        border-top: 2px solid #8cba35;
        --border-collapse: separate;
        width: 100%;
        table-layout: fixed; 
        /* 테이블레이아웃 사용시 컨텐트 내용이 변해도 넓이는 고정됨. */
        
        /* border-spacing: 5px 10px;
        border: 1px solid #000; */

        /* table 선 separate기본값 */
        
    }
    .main .notice-board>table tr{

        height : 30px;
        line-height:30px;
        
    }
    .main .notice-board>table td{

        border-bottom: 1px solid #e9e9e9;
        text-align: center;
        
    }
    .main .notice-board>table td.col-s{
        width: 60px;
        
    }
    .main .notice-board>table td.col-m{
        width: 100px;
        
    }

    .main .notice-board>table td .text-left{
        text-align: left;
        /* 텍스트 왼쪽 정렬 */
    }
    .main .notice-board>table td .text-center{
        text-align: center;
    }

 /* --------------------------------------------------------------------------------------- */

 .footer{
    /* background: springgreen; */
    background:#313131;
    height: 100px;
 }
 /*----------------------------------------------------------------------------------------*/
 body{
    font-family: "돋움", Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #979797;

 }


 /* --------------------------------------------------------------------------------------- */

 .header{
    /* background: red; */
    height : 71px;
 }

    .header>.container{
        /* 헤더의 컨테이너 left,top 기준 좌표 바꾸기. */
        position: relative;
        
    }

    .header>.container>.logo{
        display: inline-block;
        position: absolute;
        left:0px;
        top:23px;
    }
    .main-menu{
        display: inline-block;
        font-family: "맑은 고딕","고딕",Arial;
        font-size: 15px;
        font-weight: bold;
        color : #000000;
        
        /* 
            기본 포지션 방식이 얘는 satic 단 블록이라면
            left와 top는 position 방식이 absolute, relative, fixed일 때만 적용됨.
            기본 기준 left,top 좌표는 브라우저의 왼쪽 위임.
        */
        position: absolute;
        top:27px;
        left:200px;
        
       
        
    }
        .main-menu>ul{
            display: flex;

        }

        /* 
        a 태그 관련 슈도 클래스
        hover - > 마우스를 갖다 댔을 때
        activited - > 클릭 했을 때
        visited - > 이미 들어간적이 있을 때
        link
        
        */
            .main-menu>ul a:hover{
                color:#ff6a00;
                /*  언더바 지우기 */
                text-decoration: none;
            }

            .main-menu>ul>li{
                /* 맑은 고딕이 없을시 고딕, 고딕이 없을시 Arail */
                
                padding-left: 24px;
                background: url("../image/bg-main-menu-vsp.png") 12px center no-repeat;
                
            }

            .main-menu>ul>li:nth-child(1){
                padding-left: initial;
                background: none;
            }

    .lecture-form{
        display: inline-block;
        border : 5px solid #8CBA34;
        position: absolute;
        top:21px;
        left:468px;
        
    }

    /*  강좌 검색 가운데로 오게하는 방법
        1. box를 가운데로
        2. text를 가운데로 - > 1줄일 경우만 가능.

    */
    .lecture-form>form{
        display : flex;
    }

    .lecture-form>form>label{
        font-family: "돋움";
        font-size :11px;
        font-weight: bold;
        color : #979797;
        /* 
            box가 가운데로 오게 하는 방법 - > 더 바람직함.
            .lecuter-form>form - > flex;
            form안의 label의 align-self:center;
        */
        align-self: center;

        /* 
            텍스트를 위로 올려서 가운데로 맞춤.
        */
        --line-height: 25px;

        padding : 0px 5px;
    }

    .lecture-form>form>input[type="text"]{
        border : none;
        /* outline : input의 focus되었을 때의 속성 */
        outline : none;
    }

    .lecture-form .find-button{
        background : url("../image/btn-zoom.png") no-repeat center;
        width: 31px;
        height:25px;
        border-left: 1px solid #8cba34;

    }

    .shortcut-menu{
        display: inline-block;

        /* 중간에 배치하게 하기. */
        vertical-align: middle;

        position: absolute;
        right:0px;
        top:40px;
    }
        .shortcut-menu-list{
            display: flex;
            
            /* font의 크기때문에 높이가 정해짐 */
           font-size: 0px;
        }

        /* .shortcut-menu-list>li:first-child>a */
        .shortcut-menu-list .mypage-button{
            background : url("../image/txt-mypage.png") no-repeat center;
            width : 72px;
            height : 17px;
            /* inline은 너비 높이를 지정못함. - > block은 줄 단위의 크기를 가짐 - > 인라인 + 블럭 - > inline-block 사용 */
            --display: inline-block;
            --width : 72px;
            --height : 17px;

            /* 
                text-indent - > inline에서는 안먹힘. 들여쓰기 - > block으로 바꿔줘야함. 
                +값을 주면 이미지가 커질 경우 보일 수 있음 - > 왠만하면 -로
            */
            --text-indent: 55550px;
            --overflow: hidden;

            --text-indent: -999px;
        }

        /* .shortcut-menu-list>li:first-child+li>a */
        .shortcut-menu-list .customer-button{
            background : url("../image/txt-customer.png") no-repeat center;
            width : 72px;
            height : 17px;
            margin-left: 1px;
            
        }
    .member-menu{
        display: inline-block;
        font-family: "맑은 고딕","고딕",Arial;
        font-size: 10px;
        font-weight: bold;
        color : #979797;

        position: absolute;
        right:0px;
        top:20px;

    }
        .member-menu>ul{
            display : flex;
        }

            .member-menu>ul>li{
                padding-left: 9px;
                background: url("../image/bg-member-menu-sp.png") 4.5px center no-repeat;
               
            }

            .member-menu>ul>li:first-child{
                padding-left: initial;
                background : none;
            }

            
 /*
    .header>div{

        background : #00000050;
        /* 
        height, width -> 부모의 영역 기준으로 크기 지정하는 법 - > % or inherit
        부모의 부모가 100px -> 부모가 50% 50px -> 자식이 inherit - > 25px
        부모의 부모가 100px -> 부모가 50% 50px -> 자식이 100% - > 50px
        */
        /* height : 100%;
        width : 960px;

    } */


/* --------------------------------------------------------------------------------------- */

/* .header{
    font-size : 1px;
}
 .header>div{
     /* font-size:1px; */

     /* 
        em - > 폰트사이즈 * 숫자 (폰트의 크기에 따라 배수로 곱해짐.) or 부모 폰트사이즈 * 숫자 
        rem - > root(html) 폰트사이즈 * 숫자 
     */

     /* height:50em;
     width:50em; */

     /* rgba - > a 투명도 */
     /* --background : rgba(255,0,0,0.2);
     background: #ff000050; */
 /* } */
 
 
 /* .a{
            color: green;
        }

        header h1,li{
            color:blue;
        }
        
        #a{
            color: red;
        } */


        /* input[type="text"]{
            background-color: pink;
        }

        input{
            background-color: red;
        }

        .input{
            background-color: purple;
        }

        #input{
            background-color: yellow;
        }

        #header > h1 + nav{
            color : orange;
            --background-color: yellow;
        }

        #header > h1 + nav + nav{
            color : orange;
            --background-color: yellow;
        }  */

        /* nav를 제외한 섹션마다 헤더가 있을 수 있음. */

        /* 태그 - > 클래스 - > 속성 - > 아이디 순으로 스타일 적용 